@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
    --color-primary:#0F62FE;
    --color-colorBg:#F2F4F8;

    --font-roboto:"Roboto", sans-serif;

}


.section-container{
        @apply max-w-screen-2xl container mx-auto py-20 px-5;
}